body {
    background-color: gray;
}

h1 {
    background-color: dimgray;
    font-family: Arial;
    color: white;
}

h2 {
    background-color: dimgray;
    font-family: Arial;
    color: white;
}

p {
    font-family: Arial;
    color: white;
}

li {
    font-family: Arial;
    color: white;
}

.fa-house{
    color: lightblue;
}

.fa-phone {
    color: lightblue;
}

.fa-envelope {
    color: lightblue;
}

.fa-facebook {
    color: lightblue;
}

.fa-github{
    color: lightblue;
}

.fa-linkedin {
    color: lightblue;
}

img {
    border-radius: 50%;
    border:8px solid lightblue;
}


